/* Titlebar styles */
/* #titlebar {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    background: var(--titlebar-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-app-region: drag;
}

#titlebar span {
    font-weight: bold;
}

#titlebar button {
    -webkit-app-region: no-drag;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 4px;
}

#titlebar button:hover {
    background-color: var(--button-hover);
} */

/* Note list styles */
.note {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.note:hover {
    background: var(--ultra-light-hover);
}

.title {
    font-weight: bold;
}

.time {
    font-size: 12px;
    color: var(--text-color);
}

#notes {
    flex: 1;
    overflow-y: auto;
}

/* Toolbar styles */
#toolbar {
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    background: var(--bg-color);
    display: flex;
    gap: 10px;
    -webkit-app-region: drag;
}

#add {
    -webkit-app-region: no-drag;
    cursor: pointer;
    border-radius: 4px;
}

#search {
    -webkit-app-region: no-drag;
    flex: 1;
    font-size: 14px;
    padding: 5px;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
}

.delete-btn {
    border-radius: 4px;
} 